{% extends 'website/layout.html' %}

{% load app_filters %}

{% block content %}

<form ref="deposit_form" class="form-horizontal" role="form" action="{% url 'deposit_checkout' %}" method="POST">
    {% csrf_token %}
    <input type="hidden" v-model="deposit_stripeToken" name="stripeToken" />
    <input type="hidden" v-model="deposit_stripeEmail" name="stripeEmail" />
    <input type="hidden" v-model="deposit_amount_cents" name="amount" />
    <input type="hidden" v-model="deposit_currency" name="currency" />
</form>

<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <h1 class="text-center">Deposit</h1>
        <hr>

        <div class="row">
            <div class="col-md-6 pt-2">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="amount-addon">$</span>
                    </div>
                    <input type="text" id="deposit-amount" v-model.number="deposit_amount" v-on:keyup.enter="deposit_pay" name="deposit-amount" class="form-control" placeholder="amount" aria-label="amount" aria-describedby="amount-addon">
                </div>
            </div>
            <div class="col-md-6 pt-2">
                <select id="deposit-currency" v-model="deposit_currency" class="custom-select mb-2 mr-sm-2 mb-sm-0">
                {% for element in currencies %}
                    <option value="{{ element.name }}">{{ element.name }} ~ {{ element.rate|multiply:100 }} tokens</option>
                {% endfor %}
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 pt-2">
                <input type="button" class="btn btn-block btn-primary" id="customButton" v-on:click="deposit_pay" value="Pay">
            </div>
        </div>
    </div>
</div>

{% endblock %}
