{% load staticfiles %}
<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" crossorigin="anonymous">

        <link rel="shortcut icon" href="{% static 'favicon.ico' %}">

        <title>Casino</title>
    </head>
    <body>
        <div id="app">
            <nav class="navbar navbar-expand-md navbar-dark bg-dark">
                <div class="container">
                    <a class="navbar-brand" href="{% url 'index' %}">Casino</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'roulette' %}">Roulette</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'shoutbox' %}">Shoutbox</a>
                            </li>
                        </ul>

            			<ul class="nav navbar-nav navbar-right">

                        	<li class="nav-item">
            					<a class="nav-link" href="{% url 'deposit' %}">Deposit</a>
            				</li>
                        	<li class="nav-item">
            					<a class="nav-link" href="{% url 'withdraw' %}">Withdraw</a>
            				</li>
                        	<li class="nav-item">
            					<a class="nav-link" href="{% url 'provably' %}">Provably</a>
            				</li>
                            {% if user.is_authenticated %}
                                <li class="nav-item">
                                    <div class="nav-link">
                                        <span id="tokens-count">[[ token_count ]]</span> tokens
                                    </div>
                                </li>
                                <li class="nav-item active">
                                    <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                                </li>
                            {% else %}
                            	<li class="nav-item active">
                					<a class="nav-link" href="{% url 'login' %}">Sign in</a>
                				</li>
                                <li class="nav-item active">
                                    <a class="nav-link" href="{% url 'signup' %}">Sign up</a>
                                </li>
                            {% endif %}
                      	</ul>
                    </div>
                </div>
            </nav>

            <div class="container">
                {% block content %}
                {% endblock %}
            </div>
        </div>
        {% if user.is_authenticated %}
            <script>
                vue_token_count = {{ user.token_count }};
                vue_user_id = {{ user.id }}
                vue_username = '{{ user.username }}'
            </script>
        {% endif %}
        {% block additional_javascript %}
        {% endblock %}
        <script src="https://checkout.stripe.com/checkout.js"></script>
        <script src="{% static 'js/app.bundle.js' %}"></script>
        {% if user.is_authenticated %}
            <script>
                setTimeout(function(){
                    window.app.subscribe_updates({{ user.id }});
                }, 1000);
            </script>
        {% endif %}
        <script>
            setTimeout(function(){
                window.app.subscribe_shoutbox();
                window.app.subscribe_current_bets();
            }, 1000);
        </script>
    </body>
</html>
