{% extends 'website/layout.html' %}

{% block content %}

{% if next %}
    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% else %}
    <p>Please login to see this page.</p>
    {% endif %}
{% endif %}

<form class="form-horizontal" role="form" method="POST" action="{% url 'login' %}">
    {% csrf_token %}
    <input type="hidden" name="next" value="{{ next }}" />
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <h2>Please Login</h2>
            <hr>
            {% if form.errors %}
                <div class='text-danger alert alert-danger'>
                    Your username and password didn't match. Please try again.
                </div>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="form-group has-danger">
                <label class="sr-only" for="email">E-Mail Address</label>
                <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                    <div class="input-group-addon"></div>
                    <input type="text" name="username" class="form-control" id="username"
                           placeholder="Username" required autofocus>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="form-group">
                <label class="sr-only" for="password">Password</label>
                <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                    <div class="input-group-addon"></div>
                    <input type="password" name="password" class="form-control" id="password"
                           placeholder="Password" required>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6" style="padding-top: .35rem">
            <div class="form-check mb-2 mr-sm-2 mb-sm-0">
                <label class="form-check-label">
                    <input class="form-check-input" name="remember_me"
                           type="checkbox" >
                    <span style="padding-bottom: .15rem">Remember me</span>
                </label>
            </div>
        </div>
    </div>
    <div class="row" style="padding-top: 1rem">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <button type="submit" class="btn btn-success"><i class="fa fa-sign-in"></i>Login</button>
            <div class="float-right">
                <a class="btn btn-link" href="{% url 'password_reset' %}">Forgot Your Password?</a>
            </div>
        </div>
    </div>
</form>

{% endblock %}
