{% extends 'website/layout.html' %}

{% block content %}

<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-6">
  	<h2>Sign up</h2>
  	<hr>
    <form class="form-horizontal" role="form" method="POST" action="{% url 'signup' %}">
      {% csrf_token %}

      {% for field in form %}
        <div class="form-group {% if field.errors %}has-error{% endif %}">
        <p>
        {{ field }}

        {% if field.errors %}
        <div class='text-danger alert alert-danger'>{{ field.errors|join:'<br />' }}</div>
        {% endif %}

        {% if field.help_text %}
        <span class="help-block text-muted">
          <small>{{ field.help_text }}</small>
        </span>
        {% endif %}
        </p>

      {% endfor %}
      </div>
      <button id="create_account" type="submit" class="btn btn-success">Sign up</button>
    </form>
  </div>
</div>

{% endblock %}
